@tailwind base;
@tailwind components;
@tailwind utilities;




.bg-cover{
   box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); 
  background-image: url(/hero2-image.png);
  
}

.bg-project{
  background-image: url(/project-img.png);
}

.text-deco{
  -webkit-text-stroke: 1px #fff;
  background-position: 0 0;
  animation: back 20s linear infinite;
  background: url(/back.png);
  background-clip: text;
  
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

